html, body {
    touch-action: none;
}

::root {
    --arrow-hover-offset: 0;
}

/* FONTS */

.roboto-slab-thin {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.inconsolata-light {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inconsolata-medium {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.roboto-slab-light {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}


#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
}

#info-panel {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background: rgba(39, 39, 39, 0.4);
    color: white;
    padding: 1.4rem;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
    pointer-events: auto;
    width: 350px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 5px;
    backdrop-filter: blur(10px);
}

#info-panel .full-width {
    width: 100%;
    margin-bottom: 10px; /* Add margin to separate from columns */
}

#info-panel .columns {
    display: flex; /* Use flexbox to align columns side by side */
    width: 100%;
}

#info-panel .left-column {
    width: 75%;
    padding-right: 10px; /* Add padding for better spacing */
}

#info-panel .right-column {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#info-panel h1 {
    font-size: 36px;
    margin: 0 0 5px 0;
}

#info-panel h2 {
    font-size: 12px;
    margin: 0 0 5px 0;
    opacity: 0.6;
}

#info-panel p {
    margin: 5px 0;
    font-size: 11px;
    opacity: 0.6;
}

#info-panel #description {
  opacity: 1;
  line-height: 1.15rem;
  font-size: .8rem;
}

#carousel-controls {
    position: absolute;
    display: flex;
    pointer-events: auto;
    width: 100vw;
    justify-content: center;
    bottom: 2rem;
}

#carousel-controls > .container {
  display: flex;
  flex: 1;
}

#carousel-controls > .container:first-child{
  justify-content: end;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 100, 'GRAD' 0, 'opsz' 24;
    /* color: white; */
}

.arrow .material-symbols-outlined {
    transition: all 0.1s ease-in-out;
}

.arrow {
    display: flex;
    align-items: center;
    padding: 1rem;
    position: relative;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 1000px;
    color: white;
    background: rgba(66, 66, 66, 0.9);
    margin: 1rem;
    backdrop-filter: blur(10px);
}

.arrow:hover{
  opacity: 0.9;
}

.arrow.left{
  justify-content: end;
}

.arrow.left > .material-symbols-outlined{
  transform: translateX(.2rem);
}

.arrow.right:hover .material-symbols-outlined {
  margin-left: 2.6rem;
}

.arrow.left:hover .material-symbols-outlined {
  margin-right: 3.6rem;
}

.arrow > .label{
  letter-spacing: .05rem;
  text-transform: uppercase;
  font-size: .8rem;
  opacity: 0;
  position: absolute;
}

.arrow span {
    font-size: 1.5rem;
}

.arrow:hover .label {
    opacity: .9;
    transition: all 0.1s ease-in-out .2s;
}

.arrow:hover .material-symbols-outlined {
    opacity: 1.0;
}


/* FOOTER */
.footer {
  text-decoration: none;
  pointer-events: auto;
  position: absolute;
  font-size: 0.8rem;
  right: 2rem;
  bottom: 2rem;
  color: white;
  opacity: 0.8;
  transition: all 0.1s ease-in-out;
}

.footer:hover {
  opacity: 1;
}

.pc-icon{
  background-image: url(https://playcanvas.com/static-assets/images/icons/favicon_launcher.png);
  width: .9rem;
  height: .9rem;
  background-size: contain;
  margin: .2rem;
  display: inline-block;
  vertical-align: middle;
  transform: translateY(-.1rem);
}

/* Media Query for Mobile Devices */
@media (max-width: 960px) and (orientation: landscape) {

  #info-panel{
    right: 0;
    top: 0;
    width: 200px;
    height: 100%;
  }

  #info-panel .columns .right-column {
      display: none; /* Hide left and right columns */
      
  }

  #info-panel .columns .left-column {
    width: 100%;    
  }

  .footer{
    display: none;
  }
}

@media (max-width: 800px) and (orientation: portrait){

    #info-panel{
      width: 100%;
      position: static;
      border-radius: 0;
      max-width: 100%;
    }

    #info-panel h1 {
      font-size: 24px;
      margin: 0 0 5px 0;
    }

    .footer {
      display: none;
    }

    #info-panel .columns {
        display: none; /* Hide left and right columns */
    }
}
